<!-- renders a form checkbox -->
{% macro render_form_checkbox(field) %}
  <div class="field">
    <div class="control">
      <label class="checkbox">
        {{ field(class='checkbox', **kwargs) | safe }}
        {{ field.label }}
      </label>
    </div>
  </div>
{% endmacro %}

<!-- renders any form errors -->
{% macro render_form_errors(form) %}
  {% if form.errors %}
    <div class="notification is-danger">
      <button class="delete"></button>
      <div class="content">
        <ul>
          {% for field_name, field_errors in form.errors.items() %}
            {% for error in field_errors %}
              <li><strong>{{ error }}</strong></li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
{% endmacro %}

<!-- renders a form field -->
{% macro render_form_field(field, left_icon_classes=None) %}
  <div class="field">
    {{ field.label(class='label') }}
    <div class="control {{ 'has-icons-left' if left_icon_classes }}">
      {% if field.errors %}
        {{ field(class='input is-danger', **kwargs) | safe }}
      {% else %}
        {{ field(class='input', **kwargs) | safe }}
      {% endif %}
      {% if left_icon_classes %}
        <span class="icon is-small is-left">
          <i class="{{ left_icon_classes }}"></i>
        </span>
      {% endif %}
    </div>
  </div>
{% endmacro %}
