<!-- renders a form checkbox -->
{% macro render_form_checkbox(field) %}
  <div class="field">
    <div class="control">
      <label class="checkbox">
        {{ field(class='checkbox', **kwargs) | safe }}
        {{ field.label.text }}
      </label>
    </div>
  </div>
{% endmacro %}

<!-- renders any form errors -->
{% macro render_form_errors(form) %}
  {% if form.errors %}
    <div class="notification is-danger">
      <button class="delete js-notification-close"></button>
      <div class="content">
        <ul>
          {% for field_name, field_errors in form.errors.items() %}
            {% for error in field_errors %}
              <li class="has-text-weight-bold">
                {{ error }}
              </li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}
{% endmacro %}

<!-- renders a form field -->
{% macro render_form_field(field, left_icon_classes=None, help=None) %}
  {% set classes = 'input js-form-field' %}
  {% if field.errors %}
    {% set classes = '{} is-danger'.format(classes) %}
  {% endif %}
  {% if help %}
    {% set help_id = 'js-{}-help'.format(field.id) %}
  {% endif %}
  <div class="field">
    {{ field.label(class='label') }}
    <div class="control {{ 'has-icons-left' if left_icon_classes }}">
      {{ field(class=classes, data_help='#{}'.format(help_id), **kwargs) | safe }}
      {% if left_icon_classes %}
        <span class="icon is-small is-left">
          <i class="{{ left_icon_classes }}"></i>
        </span>
      {% endif %}
    </div>
    {% if help %}
      <p id="{{ help_id }}" class="help {{ 'is-danger' if field.errors }}">
        {{ help }}
      </p>
    {% endif %}
  </div>
{% endmacro %}
