{% extends 'shared/base.html' %}

{% from 'shared/utils.html' import render_form_errors, render_form_field %}

{% block styles %}
  {% assets 'contact_css' %}
    <link href="{{ ASSET_URL }}" rel="stylesheet">
  {% endassets %}
{% endblock %}

{% block title %}Contact | Dawdle{% endblock %}

{% set container_classes='contact hero has-background-info is-fullheight-with-navbar' %}

{% block content %}
  <div class="hero-body">
    <div class="container">
      <div class="column is-12-tablet is-6-desktop is-offset-3-desktop is-paddingless">
        <div class="box">
          {{ render_form_errors(form) }}
          <h1 class="title">
            Contact Us
          </h1>
          <h2 class="subtitle">
            Got a question? Feel free to send us a message.
          </h2>
          <form method="POST" class="content">
            {{ form.csrf_token }}
            {{ render_form_field(form.email,
                                 type='email',
                                 placeholder='e.g. yoda@dagobah.com',
                                 left_icon_classes='fas fa-envelope') }}
            {{ render_form_field(form.subject,
                                 type='text',
                                 minlength='1',
                                 maxlength='256',
                                 placeholder='e.g. A subject this is',
                                 left_icon_classes='fas fa-pencil-alt') }}
            {{ render_form_field(form.message,
                                 rows='10',
                                 minlength='1',
                                 maxlength='1000',
                                 placeholder='e.g. A message this is',
                                 left_icon_classes='fas fa-pencil-alt') }}
            <div class="field content">
              <div class="control">
                <button type="submit" class="button is-fullwidth is-primary has-text-weight-bold">
                  Send
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
