{% extends 'shared/base.html' %}

{% block styles %}
  {% assets 'error_css' %}
    <link href="{{ ASSET_URL }}" rel="stylesheet">
  {% endassets %}
{% endblock %}

{% block title %}Error | Dawdle{% endblock %}

{% block content %}
  <section class="error hero is-danger is-fullheight-with-navbar">
    <div class="hero-body has-text-centered">
      <div class="container">
        <h1 class="title">
          Error
        </h1>
        <h2 class="subtitle">
          Something has gone wrong.
        </h2>
        <p class="content">
          Please send an email to
          <a class="has-text-white" href="mailto:mikelowedev@gmail.com?subject=Dawdle:%20Error%20Page">
            <em>mikelowedev@gmail.com</em>
          </a>
          and I'll look at it straight away!
        </p>
        <a class="button is-link" href="{{ url_for('home.index') }}">
          <span class="icon is-small">
            <i class="fas fa-home"></i>
          </span>
          <span>Take Me Home</span>
        </a>
      </div>
    </div>
  </section>
{% endblock %}
