::selection {
  background-color: #00d1b2;
  color: #fff;
}

::-moz-selection {
  background-color: #00d1b2;
  color: #fff;
}

.notification .content ul {
  margin-left: 0.5em;
  margin-top: 0;
}

.modal {
  padding: 0.75rem;
}
