.header .user-link {
  background-color: transparent !important;
}

.header .user-icon {
  border-radius: 290486px;
  padding-bottom: calc(0.375em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(0.375em - 1px);
}
