{% extends 'shared/base.html' %}

{% block styles %}
  {% assets 'home_css' %}
    <link href="{{ ASSET_URL }}" rel="stylesheet">
  {% endassets %}
{% endblock %}

{% set container_classes='home hero is-primary is-fullheight-with-navbar' %}

{% block content %}
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title is-size-1">
        Welcome to Dawdle!
      </h1>
      <h2 class="subtitle is-size-4 has-text-weight-bold has-text-white">
        A place to organise your projects.
      </h2>
      <a class="button is-info has-text-weight-bold" href="{{ url_for('auth.sign_up_GET') }}">
        Sign Up
      </a>
      <a class="button is-info is-inverted" href="{{ url_for('auth.login_GET') }}">
        Log In
      </a>
    </div>
  </div>
{% endblock %}
