{% extends 'user/settings.html' %}

{% from 'shared/utils.html' import render_form_errors, render_form_field %}

{% block title %}Update Password | Dawdle{% endblock %}

{% set settings_page='update-password' %}

{% block settings_form_errors %}
  {{ render_form_errors(form) }}
{% endblock %}

{% block settings_content %}
  <form method="POST">
    {{ form.csrf_token }}
    {{ render_form_field(form.current_password,
                         type='password',
                         placeholder='e.g. ••••••••••••',
                         left_icon_classes='fas fa-lock') }}
    {{ render_form_field(form.new_password,
                         type='password',
                         minlength='8',
                         placeholder='e.g. ••••••••••••',
                         left_icon_classes='fas fa-lock',
                         help='Minimum 8 characters') }}
    {{ render_form_field(form.confirmation,
                         type='password',
                         placeholder='e.g. ••••••••••••',
                         left_icon_classes='fas fa-lock') }}
    <div class="field content">
      <div class="control">
        <button class="button is-fullwidth is-primary has-text-weight-bold">
          Update Password
        </button>
      </div>
    </div>
  </form>
{% endblock %}
