{% extends 'shared/base.html' %}

{% block styles %}
  {% assets 'user_css' %}
    <link href="{{ ASSET_URL }}" rel="stylesheet">
  {% endassets %}
{% endblock %}

{% set container_classes='user-settings has-background-dark' %}

{% block content %}
  <div class="body">
    <div class="container">
      <div class="columns">
        <div class="column is-12-tablet is-8-desktop is-offset-2-desktop is-paddingless">
          <div class="box">
            {% block settings_form_errors %}{% endblock %}
            <h1 class="title">User Settings</h1>
            <div class="tabs">
              <ul>
                <li class="{{ 'is-active' if settings_page == 'account-details' }}">
                  <a href="{{ url_for('user.settings_account_details_GET') }}">
                    Account Details
                  </a>
                </li>
                <li class="{{ 'is-active' if settings_page == 'update-email' }}">
                  <a href="{{ url_for('user.settings_update_email_GET') }}">
                    Update Email
                  </a>
                </li>
                <li class="{{ 'is-active' if settings_page == 'update-password' }}">
                  <a href="{{ url_for('user.settings_update_password_GET') }}">
                    Update Password
                  </a>
                </li>
                <li class="{{ 'is-active' if settings_page == 'delete-account' }}">
                  <a href="{{ url_for('user.settings_delete_account_GET') }}">
                    Delete Account
                  </a>
                </li>
              </ul>
            </div>
            {% block settings_content %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
