{% extends 'user/settings.html' %}

{% from 'shared/utils.html' import render_form_errors, render_form_field, render_form_password %}

{% block title %}Update Password | Dawdle{% endblock %}

{% set settings_page='update-password' %}

{% block settings_form_errors %}
  {{ render_form_errors(form) }}
{% endblock %}

{% block settings_content %}
  <form method="POST" class="js-form">
    {{ form.csrf_token }}
    {{ render_form_password(form.current_password) }}
    {{ render_form_password(form.new_password, minlength='8', show_help=True) }}
    <div class="field content">
      <div class="control">
        <button type="submit" class="button is-fullwidth is-primary has-text-weight-bold js-submit">
          Update Password
        </button>
      </div>
    </div>
  </form>
{% endblock %}
