{% extends 'user/settings.html' %}

{% block title %}Account Details | Dawdle{% endblock %}

{% set settings_page='account-details' %}

{% block settings_content %}
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" type="text" placeholder="Jabba the Hutt">
    </div>
  </div>
  <div class="field">
    <label class="label">Initials</label>
    <div class="control">
      <input class="input" type="text" maxlength="4" placeholder="JBBA">
    </div>
  </div>
  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input class="input" type="email" placeholder="jabba@thepalace.com">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button class="button is-info">Update</button>
    </div>
  </div>
{% endblock %}
