{% extends 'user/settings.html' %}

{% block title %}Update Password | Dawdle{% endblock %}

{% set settings_page='update-password' %}

{% block settings_content %}
  <div class="field">
    <label class="label">Current Password</label>
    <div class="control">
      <input class="input" type="password" placeholder="e.g. ••••••••••••">
    </div>
  </div>
  <div class="field">
    <label class="label">New Password</label>
    <div class="control">
      <input class="input" type="password" placeholder="e.g. ••••••••••••">
    </div>
  </div>
  <div class="field">
    <label class="label">Confirmation</label>
    <div class="control">
      <input class="input" type="password" placeholder="e.g. ••••••••••••">
    </div>
  </div>
  <div class="field">
    <div class="control">
      <button class="button is-info">Update</button>
    </div>
  </div>
{% endblock %}
