{% extends 'user/settings.html' %}

{% block title %}Delete Account | Dawdle{% endblock %}

{% set settings_page='delete-account' %}

{% block settings_content %}
  <form method="POST">
    <div id="js-delete-account-modal" class="modal">
      <div class="modal-background js-modal-close" data-target="#js-delete-account-modal"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Delete Account</p>
          <button type="button" class="delete js-modal-close" aria-label="close"
            data-target="#js-delete-account-modal"></button>
        </header>
        <section class="modal-card-body">
          Permanently delete your account and all of your boards?
        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-danger has-text-weight-bold">
            Delete Account
          </button>
          <button type="button" class="button js-modal-close" data-target="#js-delete-account-modal">
            Cancel
          </button>
        </footer>
      </div>
    </div>
  </form>
  <button class="button is-fullwidth is-danger has-text-weight-bold js-modal-open"
    data-target="#js-delete-account-modal">
    Delete Account
  </button>
{% endblock %}
