{% extends 'shared/base.html' %}

{% block styles %}
  {% assets 'user_css' %}
    <link href="{{ ASSET_URL }}" rel="stylesheet">
  {% endassets %}
{% endblock %}

{% block title %}Settings | Dawdle{% endblock %}

{% set container_classes='settings has-background-primary is-fullheight-with-navbar' %}

{% block content %}
  <div class="hero-body has-text-centered">
    <div class="container">
      <form method="POST" action="{{ url_for('user.delete_POST') }}">
        <button class="button is-danger">Delete Account</button>
      </form>
    </div>
  </div>
{% endblock %}
